@use "./base.scss";
@use "./variables.scss" as *;

.page-title {
  font-family: "Pixelify Sans", sans-serif;
}

.page-title::before {
  content: "";
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  margin-right: 0.4em;
  vertical-align: -0.3em;
  background-image: url("/static/icon.png");
  background-size: contain;
  background-repeat: no-repeat;
}